export DB_USERNAME="postgres"
export DB_PASSWORD="noih2Q4kaMMCQt89cVnl"
export DB_ENDPOINT="music-library.ckxi8a4u2a7t.us-east-1.rds.amazonaws.com"
export SQLALCHEMY_URI="postgresql://$DB_USERNAME:$DB_PASSWORD@$DB_ENDPOINT:5432/postgres"